@keyframes iconer {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}
@keyframes slider {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 60px;
    opacity: 1;
  }
}
@keyframes prixer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}
* {
  margin: 0;
}

.loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
  opacity: 0.95;
  z-index: 10;
  height: 100vh;
  animation: load 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  transform-origin: bottom;
}
.loader::after {
  content: "";
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 3px 4px 15px 0px rgba(238, 3, 113, 0.2);
  box-shadow: 0px 4px 15px 0px rgba(96, 5, 92, 0.9);
  border-radius: 49%;
  animation: spiner 3s infinite ease-in-out alternate;
}
.loader .name {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: -10px;
  gap: 10px;
  color: #9356dc;
  z-index: 3;
}
.loader .name p {
  display: inline-block;
  animation-duration: 1s;
  animation: letter 3s infinite ease-in-out alternate;
  animation-fill-mode: forwards;
}
@keyframes load {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spiner {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes letter {
  0% {
    transform: scale(0.1);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}

body {
  margin: 0;
  width: 100%;
  font-family: roboto;
}
body .entete {
  display: grid;
  grid-template-columns: 13% 74% 13%;
  align-items: center;
  justify-items: center;
  height: 3.93rem;
}
body .entete i {
  color: var(--black, #101010);
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.88rem 0 0.81rem 0;
  width: 100%;
}
body .entete .icone {
  border: solid 1px;
  margin-left: 1.065rem;
  display: block;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.6);
  color: var(--white, #fff);
  text-align: center;
  text-decoration: none;
  flex-shrink: 0;
  transition-duration: 0.5s;
}
body .entete .icone:hover {
  background: var(--background, #f2eafb);
  box-shadow: 0px 4px 15px 0px rgba(94, 5, 86, 0.5);
  transform: scale(0.95);
}
body main {
  width: 100%;
  box-sizing: border-box;
}
body main .banniere {
  width: 100%;
  margin-bottom: -50px;
  max-height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}
body h1 {
  font-size: 1.5rem;
}
body h2 {
  font-size: 1.125rem;
  margin-top: 2.5rem;
}

.enseigne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 80% 10% 0;
  align-items: center;
  justify-items: center;
  height: 3.93rem;
  margin-bottom: 1.8rem;
}
.enseigne h1 {
  color: var(--black, #101010);
  text-align: center;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.enseigne .coeur {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.enseigne .coeur i {
  position: absolute;
}
.enseigne .coeur .full {
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
}
.enseigne .coeur .full:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: transparent;
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
}
.enseigne .coeur .full:hover:active {
  transform: scale(1.8);
  opacity: 1;
}

.contain {
  max-width: 1044px;
  background-color: #f6f6f6;
  margin: 0 auto;
  border-radius: 40px 40px 5px 5px;
  position: relative;
  z-index: 1;
  padding-top: 2rem;
}

.menu {
  display: grid;
  grid-template-columns: 95%;
  justify-content: center;
}
.menu h2 {
  font-family: roboto;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.menu h2 .soul {
  border-bottom: solid 3px #99e2d0;
  padding-bottom: 0.3rem;
}
.menu .decouverte__bouton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13.6rem;
  height: 3.13rem;
  border-radius: 1.5625rem;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
  margin-top: 1.7rem;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.6);
  color: var(--white, #fff);
  text-align: center;
  text-decoration: none;
  flex-shrink: 0;
  transition-duration: 0.5s;
  align-items: center;
  margin: 2.5rem 0;
}
.menu .decouverte__bouton:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 3px 4px 15px 0px rgba(238, 3, 113, 0.2);
  transform: scale(0.95);
}

.entree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 0.75rem;
}
.entree p {
  text-align: left;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 0.94rem;
}
.entree h3 {
  margin-bottom: 0;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1.125rem;
}
.entree .bouton_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  border-radius: 1.25rem;
  background: var(--background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
  box-sizing: border-box;
  border: 0;
  background-color: white;
  margin-bottom: 0.75rem;
  justify-content: space-between;
  border-block-color: transparent;
  animation: cascade 1s 3s ease-in-out both;
  max-width: none;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}
.entree .bouton_menu:hover {
  background: var(--background, #f2eafb);
  box-shadow: 0px 4px 15px 0px rgba(94, 5, 86, 0.5);
  transform: scale(0.98);
}
.entree .bouton_menu .detail {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.31rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.entree .bouton_menu .anim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.entree .bouton_menu .anim .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  transform: scale(1.02);
  opacity: 0;
  width: 0;
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.25rem 1.25rem 0;
}
.entree .bouton_menu .anim .slide .fa-circle-check {
  opacity: 0;
  transform: scale(1.5);
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}
.entree .bouton_menu .anim .prix {
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
  animation-fill-mode: forwards;
  margin-right: 0.5rem;
}
.entree .bouton_menu .anim .prix p {
  margin-top: 10px;
  font-weight: bold;
}
.entree .bouton_menu:active .slide {
  cursor: pointer;
  animation: slider 0.2s ease-in-out both;
}
.entree .bouton_menu:active .fa-circle-check {
  animation: iconer 0.2s ease-in-out both;
  transition-duration: 0.2s;
}
.entree .bouton_menu:active .prix {
  animation: prixer 0.5s cubic-bezier(0.25, 0.1, 0.48, 1) forwards;
}
.entree .bouton_menu:active p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.commande {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  background: var(--grey, #353535);
  color: white;
}
footer .foot {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  gap: 0.63rem;
  align-items: center;
}
footer .foot:hover {
  color: #ff79da;
  transition-duration: 0.5s;
}
footer a {
  text-decoration: none;
  color: white;
}

.map {
  margin: 1.38rem 1.56rem;
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
}
.map i {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.88rem 0 0.81rem 0;
  width: 100%;
  text-align: left;
}
.map div :hover {
  cursor: pointer;
  color: #ff79da;
  transition-duration: 0.5s;
}

@media only screen and (max-width: 374px) {
  .entree #b2:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b2:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b3:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b4:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b4:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b5:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b5:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b8:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b8:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b9:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b10:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b11:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b12:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b12:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b13:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b13:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b14:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b14:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b16:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b16:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b17:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b17:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b18:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b18:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b19:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b20:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b21:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b21:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b23:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b23:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b24:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b25:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b25:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b26:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b28:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b28:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b30:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .entree #b30:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b32:active .detail h3 {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b33:active .detail p {
    width: calc(100% - 60px);
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
}
@media only screen and (min-width:374px) and (max-width: 400px) {
  .restaurants .carte {
    flex-basis: 100%;
  }
  .entree #b3:active .detail p {
    width: calc(100% - 20px);
    transition-duration: 0.5s;
  }
  .entree #b4:active .detail p {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b5:active .detail p {
    width: calc(100% - 20px);
    transition-duration: 0.5s;
  }
  .entree #b9:active .detail p {
    width: calc(100% - 20px);
    transition-duration: 0.5s;
  }
  .entree #b10:active .detail p {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b17:active .detail p {
    width: calc(100% - 30px);
    transition-duration: 0.5s;
  }
  .entree #b23:active .detail p {
    width: calc(100% - 20px);
    transition-duration: 0.5s;
  }
  .entree #b32:active h3 {
    width: calc(100% - 20px);
    transition-duration: 0.5s;
  }
}
@media only screen and (min-width:400px) and (max-width:768px) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navigation .navigation__bouton {
    min-width: 20.15rem;
  }
  .titre {
    text-align: center;
  }
  .map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .map i {
    text-align: center;
  }
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.12rem;
  }
  .restaurants .carte {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navigation .navigation__bouton {
    min-width: 20.15rem;
  }
  .titre {
    text-align: center;
  }
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .carte {
    flex-basis: 38%;
  }
  .map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .map i {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navigation .navigation__bouton {
    min-width: 20.15rem;
  }
  .titre {
    text-align: center;
  }
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .carte {
    flex-basis: 38%;
  }
  .map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .map i {
    width: 138px;
    order: 5;
  }
}
@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bouton_menu:nth-child(2) {
  animation-delay: 3.4s;
}

.bouton_menu:nth-child(3) {
  animation-delay: 3.8s;
}

.bouton_menu:nth-child(4) {
  animation-delay: 4.2s;
}/*# sourceMappingURL=menu.css.map */