@use "../../parcels/variables";
// @import "../../parcels/normalize";
@import "../../parcels/mixins";

* {
  margin: 0;
}
.loader {
  @include loader;
}

body {
  margin: 0;
  width: 100%;
  @include police(roboto); // font-family: roboto//
  .entete {
    @include entete;
  }
  main {
    width: 100%;
    box-sizing: border-box;
    .banniere {
      width: 100%;
      margin-bottom: -50px;
      max-height: 24rem;
      object-fit: cover;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.125rem;
    margin-top: 2.5rem;
  }
}
.enseigne {
  @include enseigne;
}
.contain {
  @include contain;
}
.menu {
  @include menu;
}
.entree {
  @include entree;
}
.commande {
  @include flexMid(row);
}
footer {
  @include footer;
}
.map {
  @include map;
}

@media #{variables.$smaller-down} {
  .entree {
    #b2:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b3:hover .detail p {
      @include defil3_text;
    }
    #b4:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b5:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b8:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b9:hover .detail p {
      @include defil3_text;
    }
    #b10:hover .detail p {
      @include defil3_text;
    }
    #b11:hover .detail p {
      @include defil3_text;
    }
    #b12:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b13:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b14:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b16:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b17:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b18:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b19:hover {
      .detail h3 {
        @include defil1_text;
      }
    }
    #b20:hover {
      .detail h3 {
        @include defil1_text;
      }
    }
    #b21:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b23:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b24:hover {
      .detail p {
        @include defil3_text;
      }
    }
    #b25:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b26:hover {
      .detail h3 {
        @include defil1_text;
      }
    }
    #b28:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b30:hover {
      .detail p {
        @include defil3_text;
      }
      .detail h3 {
        @include defil1_text;
      }
    }
    #b32:hover {
      .detail h3 {
        @include defil1_text;
      }
    }
    #b33:hover {
      .detail p {
        @include defil3_text;
      }
    }
  }
}
//sup à 375 et inf à400//
@media #{variables.$medium-down} {
  .restaurants {
    .carte {
      flex-basis: 100%;
    }
  }
  .entree {
    #b3:hover .detail p {
      @include defil2_text;
    }
    #b4:hover .detail p {
      @include defil1_text;
    }
    #b5:hover .detail p {
      @include defil2_text;
    }
    #b9:hover .detail p {
      @include defil2_text;
    }
    #b10:hover .detail p {
      @include defil1_text;
    }
    #b17:hover .detail p {
      @include defil1_text;
    }
    #b23:hover .detail p {
      @include defil2_text;
    }
    #b32:hover h3 {
      @include defil2_text;
    }
  }
}

//sup à 400 et inf a 768//
@media #{variables.$tab-down} {
  @include nav;
  .titre {
    @include nav_titre(center);
  }
  .map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    i {
      text-align: center;
    }
  }
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.12rem;
    .carte {
      flex-basis: 100%;
    }
  }
}
//sup à 768 et inf à 1024//
@media #{variables.$dekstop-down} {
  @include nav;
  .titre {
    @include nav_titre(center);
  }
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    .carte {
      flex-basis: 38%;
      // min-width: 305px;
    }
  }

  .map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    i {
      text-align: center;
    }
  }
}
//sup à 1024//
@media #{variables.$dekstop-up} {
  @include nav;
  .titre {
    @include nav_titre(center);
  }
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    .carte {
      flex-basis: 38%;
      // min-width: 305px;
    }
  }
  .map {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    i {
      width: 138px;
      order: 5;
    }
  }
}
@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bouton_menu:nth-child(2) {
  animation-delay: 3.4s;
}

.bouton_menu:nth-child(3) {
  animation-delay: 3.8s;
}

.bouton_menu:nth-child(4) {
  animation-delay: 4.2s;
}
