$color1: #f6f6f6;
$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$cat-delay: $prog-bar-dur + $prog-bar-delay * 2;
$val: -50px;
$small: 374px !default;
// $small-up: 376px !default;
$medium: 400px !default;
// $medium-up: 401px !default;
$tab: 768px;
// $tab-up: 769px;
$dekstop: 1024px;
// $dekstop: 1024px;

$small-down: "only screen and (max-width: #{$small})"; //inf à 375px//
$medium-down: "only screen and (min-width:#{$small}) and (max-width: #{$medium})"; //sup à 375 et inf à400//
$tab-down: "only screen and (min-width:#{$medium}) and (max-width:#{$tab})"; //sup à 400 et inf a 768//
$dekstop-down: "only screen and (min-width: #{$tab}) and (max-width:#{$dekstop})"; //sup à 768 et inf à 1024//
$dekstop-up: "only screen and (min-width: #{$dekstop})"; //sup à 1024//
